body {
  font-family: 'Inter';
  margin: 0;
  font-size: 16px;
}
#map {
    position: absolute;
    top: 200;
    bottom: 200;
    width: 75%;
    border-radius: 10px;
  }

#nav {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 2rem; 
  padding-bottom: 2rem; 
  font-weight: 500; 
  color: white; 
  background-color: black; 
}
#nav > p {
  font-size: 1.875rem;
}
#nav > div {
  display: flex;
  justify-content: space-between;
  width: 33.333333%; 
}
#nav a {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
#nav a:hover {
  font-size: 1.25rem;
  text-decoration: underline; 
  background-image: linear-gradient(to right, #2DE1FC, #5887FF); 
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
  -webkit-text-fill-color: transparent; 
  text-decoration-color: white; 
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}