body {
  font-family: 'Inter';
  margin: 0;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#nav > #logo {
  display: flex;
  justify-content: flex-start;
}
#logo:hover {
  cursor: pointer;
}


#map {
    width: 100%;
    height: 92%;
    border-radius: 10px;
}

#nav > #logo > #trip {
  background-color: white;
  color: black;
  border-color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0px;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 
  padding-top: 1.25rem; 
  padding-bottom: 1.25rem; 
  font-weight: 500; 
  color: white;
  height: 30px;
  box-shadow: 2px 2px 10px lightgray;
}

#logo > h1 {
  font-size: 1.5rem;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  color: black;
}

#logo > img {
  width: 70px;
  height: auto;
}

#nav > div {
  display: flex;
  justify-content: space-between;
  width: 400px; 
  margin-right: 10px;
}
#nav a {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: #009bd6;
  border: 0.125rem solid #009bd6;
  border-radius: .75rem;
  font-size: medium;
  padding: 10px 20px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

/* When you hover the nav a element, make it fade it and have the color and background color swap clors */
#nav a:hover {
    color: #202020;
    background-color: white;
    transition: all 0.25s ease;
}

#main {
  height: 100%; 
  background-color: white;
}
.bar {
  display: flex;
  justify-content: space-between;
  /* height: 1rem; */
  background-image: linear-gradient(to right, #2DE1FC, #5887FF);
  font-size: 1.25rem;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
  height: 100%;
}
.icon-container {
  display: flex;
  font-weight: 500; 
  align-items: center;
}
.wallet {
  height: 2rem; 
  width: 2rem; 
}
.listbullet {
  height: 2rem; 
  width: 2rem; 
}
#budget {
  height: 100%; 
  color: black; 
  position: absolute;
  z-index: 1;
  
}
#budget > div, #tasks > div {
  overflow-y: auto; 
  margin: 1rem;
  background-color: white;
  border-radius: 0.75rem;
  height: 80%;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  height: 100%;
}
#budget > div > p, #tasks > div > p {
  font-size: 1.25rem;
  font-weight: 500; 
}
#tasks {
  /* background-color: rgba(88, 135, 255, 0.5); */
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
}

.reset-button {
    position: absolute;
    z-index: 1;
    background-color: #202020;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: .75rem;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-left: 310px;
    margin-right: 10px;
    transition-duration: 0.4s;
    overflow: hidden;
    outline: none;
}
.table-hover:hover{
  text-decoration: underline;
  cursor: pointer!important;
}
.tasksTable {
  width: 100%;
  margin-bottom: 2rem;
}

.yesButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: .75rem;
    margin-right: 5px;
    margin-top: 5px;
    transition-duration: 0.4s;
    overflow: hidden;
    outline: none;
}

.noButton {
    background-color: #f44336;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: .75rem;
    margin-right: 5px;
    margin-top: 5px;
    transition-duration: 0.4s;
    overflow: hidden;
    outline: none;
}

#tasks > #tasksList {
    height: 100%;
}

.positive {
    color: #4CAF50;
    margin: 5px 0;
}

.negative {
    color: #f44336;
    margin: 5px 0;
}

.budgetHistoryTask {
    margin: 5px 0;
}

.budgetHistoryTransaction {
    display: flex;
    justify-content: space-between;
}


.endday {
  position: absolute;
  z-index: 1;
  background-color: #04AA6D;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: .75rem;
  margin-top: 65px;
  margin-bottom: 10px;
  margin-left: 310px;
  margin-right: 10px;
  transition-duration: 0.4s;
  overflow: hidden;
  outline: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 0.75rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#closeModal {
  z-index: 1;
  background-color: #202020;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: .75rem;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: 0.4s;
  overflow: hidden;
  outline: none;
}

#main-resources {
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;

}

#racks, #motion, #swag {
  font-weight: bold;
}